
<app-contact-form></app-contact-form>



<!-- <app-zippy title="Shipping Details">
    Shipping Details Content
</app-zippy>

<app-zippy title="Ausklappen Details">
    Billing Details Content
</app-zippy> -->


<!-- <input type="text" [appInputFormat]= "'uppercase'"> -->




<!-- <button (click)="loadCourses()">Load courses</button>
<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
      {{course.name}} 
       <button (click)="onRemove(course)">Remove</button>
      <button (click)="onChange(course)"> Updaten</button>
      <span *ngIf="isEven">(EVEN Bier)</span>
     </li>
</ul> 


<!-- <app-like-button
[isActive] = "tweet.isLiked"
[likesCount] = "tweet.likesCount"
>
</app-like-button> -->


<!-- <app-title-practice></app-title-practice>
<practice></practice>
<br> -->

<!-- <button (click) ="onAdd()">  Add</button> -->

<!-- 
<star [istheicon]="post.isFavorite" (change)="onFavoriteChanged($event)"></star>

<star [istheicon]="post.isFavorite" (click)="alarm($event)"></star> -->

<!-- 
<app-like-button  
[likesCount] = "tweet.likesCount"
[isActive] = "tweet.isLiked"
>
</app-like-button> -->

<!-- <div *ngIf="courses.length > 0 ; then coursesList  else noCourses ">
    List of courses

</div>
<ng-template #coursesList>
    List of Courses
</ng-template>
<ng-template #noCourses>
    no Courses yet
</ng-template> -->

